@charset "utf-8";
/* calendar */
ul, li{ list-style:none;}
em{ font-style:normal;}
.datepicker{ position:absolute;width:578px;left:-9999px;top:0;height:270px;overflow:hidden; background:#fff; border:1px solid #d5d5d5; border-top:none; font-size:12px; z-index:9999;box-shadow: 0px 2px 2px #d5d5d5;border-top:0;}
.pickerwrap{ position:relative; width:100%;  height:200px;}
.pickwidth{ width:100%; overflow:auto; zoom:1;}
.pickerbody{width:289px;float:left; overflow: hidden}
.line{width: 1px;top:25px;left:195px;overflow: hidden;height: 180px;position: absolute;background: #E5E5E5;display:none;}
.pickhead{height:39px;line-height:39px;background:#ff5064;color:#fff;text-align:center;border-top:1px solid #e39aa1;border-bottom:1px solid #e39aa1;font-size:16px;font-family:'黑体' }
.pickweek{width:270px;float:left;height:30px;line-height:30px;margin:1px 12px 0;overflow:;display:inline; }
.pickweek li{float:left; text-align:center;width:38px; height:30px; float:left;overflow:hidden;line-height:30px;color:#1b1e27;font-size:14px;}
.pickweek li.weekend{color: #ff5064;}
.dateswrap{ width:270px;margin: 0 12px;}
.dateswrap li{ float:left;width:37px; height:30px;overflow:hidden; text-align:center; line-height:30px; font-family: Arial, Verdana,Helvetica; color:#6d717f;margin:0 1px 1px 0;font-size:14px;}
.dateswrap li a{ display:block; width:37px; height:30px; text-align:center; line-height:30px;text-decoration:none; color:#1b1e27;}
.dateswrap li a.now{ color:#ff6600}
.dateswrap li a.now:hover{ background:#ff5064; color:#fff;}
.dateswrap li a.choice{ background:#fff;}
.dateswrap li a.end,.dateswrap li a.end:hover{ background:#ff5064;color:#fff;}
.dateswrap li a:hover{  background:#ff5064; color:#fff;}
.prevMonth, .nextMonth{position:absolute;top:1px;width:39px;height:39px;overflow:hidden;cursor:pointer;text-align:center;line-height:39px;color:#fff; color: #fff;font-size:24px;font-family:tahoma;background:#000;opacity:0.8;filter:alpha(opacity=80);}
.prevMonth{ left:0px; background-position: 0 0;}
.nextMonth{ right:0px; background-position: 0px -30px;}
.prevMonth:hover{}
.nextMonth:hover{}
.fm208x208{ width:208px; height:208px;}
.fm396x228{ width:406px; height:228px;}
.yselect{position:absolute;}
.yearlist{font-size:12px;}
.setyear, .setmonth{cursor:pointer;}
.dateswrap li span,
.dateswrap li a span,
.dateswrap li a:hover span,
.dateswrap li a.choice span,
.dateswrap li a.now span,
.dateswrap li a.end span{background: url(../images/ico_festival.gif);display: block;cursor:hand;height: 24px;text-indent: -100px;}
/*yuandan*/
.dateswrap li span.yuandan,
.dateswrap li a span.yuandan{background-position: 0 0;}
.dateswrap li a.choice span.yuandan{background-position: 0px 0}
.dateswrap li a:hover span.yuandan ,
.dateswrap li a.now span.yuandan ,
.dateswrap li a.end span.yuandan , 
.huicheng li a:hover span.yuandan , 
.huicheng li a.choice:hover span.yuandan{background-position: -60px 0}

/*chuxi*/
.dateswrap li span.chuxi,
.dateswrap li a span.chuxi{background-position: 0 0px;}
.dateswrap li a.choice span.chuxi{background-position: 0px -30px}
.dateswrap li a:hover span.chuxi , 
.dateswrap li a.now span.chuxi ,
.dateswrap li a.end span.chuxi , 
.huicheng li a:hover span.chuxi , 
.huicheng li a.choice:hover span.chuxi{background-position: -60px -30px}
/*chunjie*/
.dateswrap li span.chunjie,
.dateswrap li a span.chunjie{background-position: 0 -60px;}
.dateswrap li a.choice span.chunjie{background-position: 0px -60px}
.dateswrap li a:hover span.chunjie , 
.dateswrap li a.now span.chunjie , 
.dateswrap li a.end span.chunjie , 
.huicheng li a:hover span.chunjie , 
.huicheng li a.choice:hover span.chunjie{background-position: -60px -60px}
/*yuanxiao*/
.dateswrap li span.yuanxiao,
.dateswrap li a span.yuanxiao{background-position: 0 -90px;}
.dateswrap li a.choice span.yuanxiao{background-position: 0px -90px}
.dateswrap li a:hover span.yuanxiao ,
.dateswrap li a.now span.yuanxiao , 
.dateswrap li a.end span.yuanxiao , 
.huicheng li a:hover span.yuanxiao , 
.huicheng li a.choice:hover span.yuanxiao{background-position: -60px -90px}
/*qingming*/
.dateswrap li span.qingming,
.dateswrap li a span.qingming{background-position: 0 -120px;}
.dateswrap li a.choice span.qingming{background-position: 0px -120px;}
.dateswrap li a:hover span.qingming ,
.dateswrap li a.now span.qingming , 
.dateswrap li a.end span.qingming , 
.huicheng li a:hover span.qingming , 
.huicheng li a.choice:hover span.qingming{background-position: -60px -120px;}
/*wuyi*/
.dateswrap li span.wuyi,
.dateswrap li a span.wuyi{background-position: 0 -150px;}
.dateswrap li a.choice span.wuyi{background-position: 0px -150px;}
.dateswrap li a:hover span.wuyi , 
.dateswrap li a.now span.wuyi , 
.dateswrap li a.end span.wuyi , 
.huicheng li a:hover span.wuyi , 
.huicheng li a.choice:hover span.wuyi{background-position: -60px -150px;}
/*danwu*/
.dateswrap li span.duanwu,
.dateswrap li a span.duanwu{background-position: 0 -180px;}
.dateswrap li a.choice span.duanwu{background-position: 0px -180px;}
.dateswrap li a:hover span.duanwu , 
.dateswrap li a.now span.duanwu , 
.dateswrap li a.end span.duanwu , 
.huicheng li a:hover span.duanwu , 
.huicheng li a.choice:hover span.duanwu{background-position: -60px -180px;}
/*zhongqiu*/
.dateswrap li span.zhongqiu,
.dateswrap li a span.zhongqiu{background-position: 0 -210px;}
.dateswrap li a.choice span.zhongqiu{background-position: 0px -210px;}
.dateswrap li a:hover span.zhongqiu ,
.dateswrap li a.now span.zhongqiu , 
.dateswrap li a.end span.zhongqiu , 
.huicheng li a:hover span.zhongqiu , 
.huicheng li a.choice:hover span.zhongqiu{background-position: -60px -210px;}
/*guoqing*/
.dateswrap li span.guoqin,
.dateswrap li a span.guoqin{background-position: 0 -240px;}
.dateswrap li a.choice span.guoqin{background-position: 0 -240px;}
.dateswrap li a:hover span.guoqin ,
.dateswrap li a.now span.guoqin , 
.dateswrap li a.end span.guoqin , 
.huicheng li a:hover span.guoqin , 
.huicheng li a.choice:hover span.guoqin{background-position: -60px -240px;}
/*today*/
.dateswrap li span.today,
.dateswrap li a span.today{background-position: 0 -270px}
.dateswrap li a.choice span.today{background-position: 0px -270px}
.dateswrap li a:hover span.today , 
.dateswrap li a.now span.today , 
.dateswrap li a.end span.today , 
.huicheng li a:hover span.today , 
.huicheng li a.choice:hover span.today{background-position: -60px -270px;}
.huicheng li a.now:hover , 
.huicheng li a:hover{background:#ff5064;color:#fff;}